.container {
  height: auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    margin-top: 120px;
  }
};

.new-tweet {
  padding: 10px;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 1em;
  font-family: 'Bungee', sans-serif;
  cursor: pointer;
}

.new-tweet textarea {
  border: none;
  border-bottom: solid 4px;
  padding: 0 1.1em;
  margin: 10px;
  background-color: #f4f1ec;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.new-tweet button {
  background-color: #4056A1;
  color: #f4f1ec;
}

.te-error {
  display: none;
  color: red;
}
